<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ordermain_1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_my_icon"
        android:label="ORDER"
        android:roundIcon="@mipmap/ic_my_icon_back_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderMain_1"
        android:usesCleartextTraffic="true">

        <activity android:name=".PageGoOrderPage.GoDrinkOrderPage"></activity>
        <activity android:name=".PageGoOrderPage.GoSideOrderPage" />
        <activity android:name=".PageLastYeah.LastYeah" />
        <activity android:name=".PageComOrderPage.Completed_Order_Page" />
        <activity android:name=".PageGoOrderPage.GoOrderPage" /> <!-- <activity android:name=".MyBarcodeReaderActivity" /> -->
        <activity android:name=".PageMainActivity.QR_Code_Page" />
        <activity android:name=".PageMenuPageUI.MenuPageUI" />
        <activity android:name=".PageMainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>